name: 'Gleam'
scopeName: 'source.gleam'
type: 'tree-sitter'
parser: 'tree-sitter-gleam'

fileTypes: [
  'gleam',
]

comments:
  start: '// '

scopes:
  '"as"'       : 'keyword.control.as'
  '"assert"'   : 'keyword.control.assert'
  '"case"'     : 'keyword.control.case'
  '"const"'    : 'keyword.control.const'
  '"external"' : 'keyword.control.pub'
  '"fn"'       : 'keyword.control.function'
  '"if"'       : 'keyword.control.if'
  '"import"'   : 'keyword.control.import'
  '"let"'      : 'keyword.control.let'
  '"opaque"'   : 'keyword.control.opaque'
  '"pub"'      : 'keyword.control.pub'
  '"todo"'     : 'keyword.control.todo'
  '"try"'      : 'keyword.control.try'
  '"tuple"'    : 'keyword.control.tuple'
  '"type"'     : 'keyword.control.type'

  'module_identifier'  : 'support.variable.module'
  'type_identifier'    : 'support.storage.type'
  'type_variable'      : 'support.variable.type'
  'identifier'         : 'support.variable.identifier'
  'string_literal'     : 'string.quoted.double'
  'integer_literal'    : 'constant.numeric.integer'
  'float_literal'      : 'constant.numeric.decimal'
  'type_identifier > named_argument > identifier:nth-child(0)' : 'entity.name.function'

  '"["': 'punctuation.definition.begin.bracket.square'
  '"]"': 'punctuation.definition.end.bracket.square'
  '","': 'punctuation.separator.delimiter'
  '"{"': 'punctuation.section.block.begin.bracket.curly'
  '"}"': 'punctuation.section.block.end.bracket.curly'
  '"("': 'punctuation.section.parens.begin.bracket.round'
  '")"': 'punctuation.section.parens.end.bracket.round'

  '''
   binary_expression > "+",
   binary_expression > "-",
   binary_expression > "/",
   binary_expression > "*",
   binary_expression > "+.",
   binary_expression > "-.",
   binary_expression > "/.",
   binary_expression > "*.",
   binary_expression > "%",
  ''' : 'keyword.operator.math'

  '''
    compound_assignment_expr > "!=",
    compound_assignment_expr > "==",
  ''' : 'keyword.operator.cmp'

  '''
    binary_expression > "&&",
    binary_expression > "||",
  ''' : 'keyword.operator.logic.boolean'

  '''
    spread > "..",
  ''' : 'keyword.operator.spread'

  '''
    case_branch > "|",
  ''' : 'keyword.operator.alt_match'

  '''
    "->",
  ''' : 'keyword.operator.misc'


folds: [
  {
    start: {index: 0, type: '{'}
    end: {index: -1, type: '}'}
  }
  {
    start: {index: 0, type: '['}
    end: {index: -1, type: ']'}
  }
  {
    start: {index: 0, type: '('}
    end: {index: -1, type: ')'}
  }
  {
    start: {index: 0, type: '<'}
    end: {index: -1, type: '>'}
  }
]

 

