'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Gleam Format'
            'submenu': [
                { 'label': 'Format', 'command': 'language-gleam:format' }
            ]
        ]
    }
]
